<template name="layout">
	<header>
		<!-- <div class="navbar-fixed"> -->
			<!-- <nav>
				<div class="nav-wrapper row">
					<div class="col s12">
						<div class="toolbar"> -->
							{{> yield "aside"}}
						<!-- </div>
					</div>
				</div>
			</nav> -->
		<!-- </div> -->
	</header>

	<ul id="side-nav" class="side-nav">
		<!-- {{> userArea}} -->
		<!-- {{> yield "aside"}} -->
	</ul>

	<main>
			<div class="main-content-wrapper">
					{{> yield}}
					{{> yield "fab"}}
			</div>
	</main>
</template>
